.calendar-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .calendar-header button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
  }
  
  .days-of-week-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .day-of-week {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .day:hover {
    background-color: #e3e3e3;
  }
  
  .selected {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  .selected:hover {
    background-color: #a99aed;
  }
  
  .selected-date {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
  }
  
  .empty-day {
    visibility: hidden;
  }
  