.schedule-blocker {
    margin: 20px;
    padding: 20px;
    border: 1px solid gray;
  }

  .schedule-blocker h1{
    color: #907fdc;
    font: 'Poppins', sans-serif;
  }

  .calendar{
    margin-bottom: 20px;
  }

  .calendar-slots {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 10px;
  }

  .calendar-slot {
    background-color: #f0f0f0;
    border: 1px solid #907fdc;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .calendar-slot:hover {
    background-color: #e0e0e08a;
  }

  .blocked-times{
    margin-top: 20px;
  }

  .blocked-times ul {
    list-style-type: none;
  }
  
  .blocked-times li {
    margin-bottom: 5px;
  }