.schedule-blocker {
    margin: 20px;
    padding: 20px;
    border: 1px solid #907fdc;
  }

  .schedule-blocker h1{
    color: #907fdc;
    font: 'Poppins', sans-serif;
  }

  .calendar{
    margin-bottom: 20px;
  }

  .calendar-slots {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
  }

  .calendar-slot {
    background-color: #f0f0f0;
    border: 1.5px solid #907fdc;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .calendar-slot:hover {
    background-color: #7fdc90;
  }

  .day-slot {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  .day-name {
    color:black;
    font-weight: bold;
    margin-bottom: 5px;
    font: 'Poppins', sans-serif;
  }

  .time-slot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 5px;
  }

  .time-slot button {
    background-color: #907fdc;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .time-slot button:hover {
    background-color: #7fdc90;
  }

  .blocked-times{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    grid-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .blocked-times-day {
    margin: 10px;
    padding: 5px;
    border: 1px solid #907fdc;
  }

  .blocked-times-heading {
    font-family: 'Overpass', sans-serif;
    color: #907fdc;
  }

  .blocked-time-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-family: 'Overpass', sans-serif;
  }

  .blocked-time-list div {
    background-color: #f0f0f0;
    border: 1.5px solid #907fdc;
    padding: 5px;
  }

  .blocked-times h3{
    font-family: 'Overpass', sans-serif;
    color:#907fdc;
  }

