.study-timer {
    border: 1px solid  #907fdc;
    border-radius: 5px;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 100px;
    position: relative;
    top: -80px; 
    left: -10px;
    margin-left: -150px;
    margin-right: 150px;
    margin-top: -100px;

  }
  
  .timer {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .timer-buttons {
    margin-top: 20px;
  }
  
  .timer-buttons button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #907fdc;
    color: #fff;
    cursor: pointer;
  }
  
  .timer-buttons button:hover {
    background-color: #ab9de9;
  }
  
  .timer-buttons button:disabled {
    background-color: #ccc;
    color: #555;
    cursor: not-allowed;
  }

  .alert-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .alert-message p {
    margin: 0;
  }
  
  .alert-message button {
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
  }
  
  .alert-message button:hover {
    background-color: #c82333;
  }