:root {
    --primary-color: #db1061;
    --secondary-color: #111111;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Overpass', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    margin-bottom: 1rem;
}

.logo-container {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 50px; /* Adjust the size of your logo */
    margin-right: 1rem;
}

.logo-container h1 {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

main{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #dcb5d4;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: #fff;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box{
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
}

.btn {
    display: inline-block;
   /* max-width: max-content; smaller button */
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-primary:hover {
    background-color: #f5397e;
}

.btn-primary:active{
    background-color: #992751;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    color: var(--secondary-color);
}

.signup-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.signup-form input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.signup-form button {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
